/* 
TABLE OF CONTENTS 

1. JUMBOTRON 

2. GENERAL ELEMENTS

3. BADGES, ICONES AND IMAGES 

4. FORMS



*/

/* color palette 
pale yellow: #ffe45c;
lighter yellow: #fed500;
darker-yellow: #F1BF26;
dark grey: #6A6B5F;
tiffany blue:#0ABAB5;

*/




/* ------------------------------------------ *\

1. $JUMBOTRON 

\* ------------------------------------------ */




.jumbotron {
  margin-bottom: 30px;
  background-image: url("../img/header1.JPG");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
}

#contact .jumbotron {
	background-image: url("../img/header2.JPG");
	padding: 110px 0 100px;
	margin-bottom: 0;
}

.midground {
	background-color: rgba(30,30,30,0.6);
	padding: 110px 0 100px 10px;
	color: #fff;
}

#contact .midground {
	background-color: rgba(255,255,255,0.0);
}

.foreground {
	color: #fff;
	max-width: 660px;
	padding: 0px 20px 15px 30px;
	display: block;
    height: auto;
  	
}

#contact .foreground {
	background-color: #fed500;
	font-weight: bolder;
}



.foreground h1 {
	font-family: 'Open Sans', helvetica, sans-serif;
}






/* ------------------------------------------ *\

 2. $GENERAL ELEMENTS 

\* ------------------------------------------ */


h1 {
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 200;
}

h2 {
	font-family: 'Open Sans' helvetica, sans-serif;
	margin-top: 28px;
	font-weight: 200;
}

h3 {
	font-family:'Open Sans' helvetica, sans-serif;
	margin-top: 26px;
	font-weight: 200;
}


.headline {
	text-align: center;
	line-height: 35px;
}

.container {
	margin-top: 1em;
}

#tagline {
	font-family: 'Open Sans' helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;

}

#three-liner {
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 300;
	text-align: justify;	
	font-size: 16px;	
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  opacity: 0.98;
}
.navbar-nav li {
	font-family: 'Raleway' helvetica, sans-serif;
}

.navbar-brand {
	font-family: 'Raleway' helvetica, sans-serif;
	font-size: 42px;
	line-height: 30px;
	color: #6A6B5F;
}

#eight {
	display: inline-block;
	color: #fed500;
	padding-bottom: 8px;

	/* Safari */
	-webkit-transition: -webkit-transform 0.4s ease-in;

	/* Firefox */
	      -moz-transition: -moz-transform 0.4s ease-in;

	/* IE */
	        -ms-transition: -ms-transform 0.4s ease-in;
	

}

.rotate:hover {
	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);


	/* IE */
	-ms-transform: rotate(90deg);
	
	/* Opera */
	-o-transform: rotate(90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}

.spacer {
	padding-top: 83px;
}

.wrapper {
	background-color: #6A6B5F;
}

.wrapper h3 {
	font-family: 'Raleway' helvetica, sans-serif;
	font-weight: 200;
	color: #fff;
	text-align: center;
	padding-top: 1em;
}

footer {
	width: 100%;
	padding: 10px 10px 50px 10px;
	background-color: #eee;
	color: #6A6B5F;
	font-family: 'Open Sans' helvetica, sans-serif;	
}

footer a:hover {
	color: black;
	cursor: auto;
}

.contact-banner {
	text-align: center;
	margin-bottom: 40px;
}

.contact-banner h2 {
	font-weight: 400;
}

.copyright-container {
	background-color: #f1bf26;
	padding: 2em;
}

.copyright-container a {
	color: #6A6B5F;
}

.copyright-container a:hover {
	color: black;
	text-decoration: none;
}


.bio {
	padding-top: 7px;
}

.bio a {
	color: #F1BF26;
}

.bio a:hover {
	text-decoration: none;
	color: black;
}

#address {
	margin-left: 31px;
}

#copyright {
	margin: 0;
	padding: 10px;
	color: #6A6B5F;
	font-family: 'Raleway' helvetica, sans-serif;
}

.copyright-container li {
	float: right;
	list-style: none;
	display: inline;
	padding: 10px;
	font-family: 'Raleway' helvetica, sans-serif;
}

#footer-logo-container {
	margin-top: 0 !important;
}

#footer-logo {
	padding: 0;
	font-size: 30px;
}

#contact .foreground h2 {
	font-weight: 400;
}


#contact .foreground p{
	float: left;
	margin-top: 6px;
}

#contact .line {
	height: 1px;
	background-color: #ffe45c;
}


/* ------------------------------------------ *\

 3. $BADGES, BUTTONS ICONS AND IMAGES

\* ------------------------------------------ */

/*3.1 BADGES and ICONS*/

.badge {
	max-width: 40%;
	margin: 3em;
	background-color: #6A6B5F;
}

.fa {
	margin: 10px;
	color: #fed500;
}

.bio .fa {
	margin: 0 5px 0 0;
}

.foreground .fa-envelope-o {
	color: #fff;
	font-size: 40px;
}

.fa-map-marker {
	float: left;
	font-size: 25px;
	color: #fff;
}


/* 3.2 BUTTONS */
/*.btn {
	background-color: ;
} */

.btn-primary {
  color: #6A6B5F;
  background-color: #fed500;
  border-color: #fed500;
}

.btn-info {
	background-color: #0ABAB5;
	margin-left: 10px;
}

.btn-info:hover,
.btn-info:focus {
	background-color: #09AAA6;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 2px;
}

.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #6A6B5F ;
  background-color: #F1BF26;
  background-position: 0 -15px;
  border-color: #F1BF26;
}

/* 3.4 IMAGES */

figure {
	background-color: #fff;
}

#case-study {
	margin: 40px 0 40px 0;
}

.avatar {
	height: 50px;
	margin: 10px;
	float: left;
}


.clear {
	clear: both;
}

/* 3.2 BUTTONS */

#send-message {
	margin-left: 1em;
	margin-top: 1em;
	padding: 0.75em;

}

#contact-button {
	margin-top: 14px;
	margin-bottom: 2em;
}






/* ------------------------------------------ *\

 4. $FORMS

\* ------------------------------------------ */

#message {
	height: 10em;
	
}

.form-control {
	padding: 1em;
	font-size: 1.2em;
	background: #eeeeee;
}

#contact-form {
	margin-top: 2em;
	margin-bottom: 2em;	
}

/* ------------------------------------------ *\

 5. $media queries 

\* ------------------------------------------ */

@media (max-width: 600px) {

	.jumbotron {
		background-image: url("../img/header1_mobi.JPG");
	}

	#contact .foreground {
		width: 100%;
	}

	#contact .jumbotron {
		padding: 60px 0 0;
		background-image: none;
	}

	#contact .jumbotron h2 {
		font-size: 25px;
	}

	.foreground .fa-envelope-o {
		font-size: 30px;
	}

	.tel { 
		color:#6A6B5F; 
		font-weight:bolder; 
		display:inline;
	}
}